@model BookLibrary

<p>Here are all available books:</p>
@{
  foreach(Book book in @Model.Books)
  {
    <p>@book.BookId -- @book.Title -- @book.Author -- @book.ReleaseYear | <a href="/checkout/@book.BookId">Checkout</a></p>
  }
}

<partial name="_newBook" model="@Model.Book"></partial>